<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="font">Sonidos de Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="font">
  <ion-list>
    <ion-item-sliding *ngFor="let animal of animales; let i = index">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="animal.imagen" />
        </ion-avatar>
        <ion-label>
          <h2 style="font-size: 22px">{{animal.nombre}}</h2>
          <p style="font-size: 20px">{{animal.nombreIngles}}</p>
        </ion-label>
        <div (click)="reproducir( animal )">
          <ion-icon
            *ngIf="!animal.reproduciendo"
            name="play-circle"
            style="zoom: 2"
            item-right
          ></ion-icon>
          <ion-icon
            *ngIf="animal.reproduciendo"
            name="pause-circle"
            style="zoom: 2"
            item-right
          ></ion-icon>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-toolbar color="dark" align="center">
    <ion-title>
      Proyecto Business Digital <br />
      Grupo WBJD - UTMACH
    </ion-title>
  </ion-toolbar>
</ion-content>
